body{
    margin: 0px;
    padding-bottom: 0px;
}
/* container con header e sub_content */
.bg_unico{
    background-color: #fedcea;
}
/* header, logo nell'header e links dell'header */
.header{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    flex-shrink: 1px;
    margin-bottom: 0px;
}
.header img{
    width: 50px;
}
.container_links a{
    text-decoration-line: none;
    color: black;
    margin: 8px;
}
/* sub_content styling */
.sub_content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
    }
.sub_content h1{
    margin-bottom: 3px;
    margin-top: 0px;
}
.sub_content p{
    width: 350px;
}
.sub_content button{
    align-self: flex-start;
}
button{
    width:fit-content;
    background-color: #b8054f;
    border: 4px solid #b8054f;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
/* container contenente sub_content e img */
.container_content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    display: flex;
    padding-bottom: 35px;
    justify-content: center;
    gap: 60px;
}
.container_content img{
    width: 400px;
    border-radius: 35px;
    box-shadow: 0px 30px 40px -25px
}
/* container contenente le cards con i links ai social */
.container_followme{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.container_cards{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    width: 100%;
    gap: 15px;
}
.cards{
    background-color: #ffffff;
    color: rgb(48, 48, 48);
    border-radius: 20px;
    padding: 10px;
    display: flex;
}
.cards img{
    width: 150px;
    border-radius: 20px;
}
.cards a:visited,a{
    color: rgb(48, 48, 48);
}
.cards p{
    text-align: center;
}
/* styling container citazione */
.citazione{
    background-color: #b8054f;
    color: white;
    font-weight: 600;
    width: auto;
    height: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    padding-left: 200px;
    padding-right: 200px;
}
#cit{
    font-weight: 200;
    font-size: x-large;
}
#autore{
    font-size: large;
    align-self: flex-end;
}
/* styling footer */
.footer{
    background-color: black;
    color: white;
    font-weight: 500;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
/* stile per suggerimento button */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }